<!-- 头部导航栏 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-label>用户登录</ion-label>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>  
<!-- 主体 -->
<ion-content class="ion-padding ion-margin-top">
  <ion-card>
    <ion-item>
      <ion-label position='floating'>用户名</ion-label>
      <ion-input [(ngModel)]="uname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='floating'>密码</ion-label>
      <ion-input type="password" [(ngModel)]="upwd"></ion-input>
    </ion-item>
  </ion-card>
  <ion-button (click)="doLogin()" expand="block">提交登陆信息</ion-button>


  <ion-label>其它方式登陆：</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color='danger'>
          <ion-icon name="logo-angular"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color='warning'>
          <ion-icon name="logo-nodejs"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color='success'>
          <ion-icon name="logo-npm"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full">
          <ion-icon name="logo-github"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color='secondary'>
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color='tertiary'>
          <ion-icon name="logo-html5"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

  

